<div class="container auth">
    <h1>Регистрация</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="b-form">
        <tui-input formControlName="username">
            Имя пользователя
            <input tuiTextfield type="text">
        </tui-input>
        <tui-input formControlName="password">
            Пароль
            <input tuiTextfield type="password">
        </tui-input>
        <tui-input formControlName="confirmPassword">
            Повторите пароль
            <input tuiTextfield type="password">
        </tui-input>
        <button type="submit" [disabled]="!registerForm.valid" class="registration-button"></button>
    </form>
    <button class="login-button" (click)="changeAuthType()">Войти в аккаунт</button>
</div>
