<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="username">Имя пользователя:</label>
    <input id="username" type="text" formControlName="username">

    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password">

    <label for="confirm-password">Подтвердите пароль:</label>
    <input id="confirm-password" type="password" formControlName="confirmPassword">

    <button type="submit" [disabled]="!registerForm.valid">Зарегистрироваться</button>
</form>
