header {
    height: 28px;
    margin: 17px 0 17px 0;
    border-radius: 12px;
    padding: 10px 29px;
    background-color: #FFFFFF;
}

.profile-icon {
    width: 28px;
    height: 28px;
    background: url("profile_icon.png") no-repeat;
    display: block;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.profile-icon:hover {
    background-image: url("profile_icon_hover.png");
}

.profile-icon:active {
    background-image: url("profile_icon_active.png");
}
