.message-container {
    background-color: #FFFFFF;
    position: fixed;
    top: 17px;
    border-radius: 10px;
    width: 280px;
    padding: 0 15px 0 15px;
    left: calc(50vw - 155px);
    z-index: 99999;
}

p {
    font-family: 'Inter', serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #094d50;
}
