<div class="block">

    <div class="filters-card">

        <form class="b-form"  [formGroup]="testFormText" [tuiTextfieldCleaner]="true">
            <div class="input-block">

                <div class="input1">
                    <tui-input formControlName="Name">
                        ФИО
                        <input tuiTextfield type="text" formControlName="Name"/>
                    </tui-input>
                </div>

                <div class="input1">
                    <tui-input formControlName="Post">
                        Должность
                        <input tuiTextfield type="text" formControlName="Post"/>
                    </tui-input>
                </div>
                <div class="input1">
                    <tui-input formControlName="Project">
                        Проект
                        <input tuiTextfield type="text" formControlName="Project"/>
                    </tui-input>
                </div>
            </div>

            <div class="input-block2">
                <div class="input2">
                    <tui-input formControlName="Salary">
                        Зарплата
                        <input tuiTextfield type="number" formControlName="Salary"/>
                    </tui-input>
                </div>
                <div class="input2">
                    <tui-input formControlName="Success">
                        Успешность
                        <input tuiTextfield type="text" formControlName="Success"/>
                    </tui-input>
                </div>
            </div>
            <div class="input-block3">
                <div class="input3">
                    <tui-input-date tuiUnfinishedValidator="Завершите заполнение поля" formControlName="Date">
                        Дата рождения
                    </tui-input-date>
                    <tui-error formControlName="Date" [error]="[] | tuiFieldError | async"></tui-error>
                </div>

                <div class="input3">
                    <tui-input-date tuiUnfinishedValidator="Завершите заполнение поля" formControlName="DateEmployment">
                        Трудоустройство
                    </tui-input-date>

                    <tui-error formControlName="DateEmployment" [error]="[] | tuiFieldError | async"></tui-error>
                </div>

            </div>
        </form>

        <button class="apply-filters" (click)="applyFilters()" >Применить фильтры</button>
    </div>
</div>



