<router-outlet></router-outlet>
<menu-bar (clickFilter)="toggleOpeningFilters()" [isOpenFilters]="isOpenFilters">
</menu-bar>
<ng-template componentsHost></ng-template>
<employee-table-filters *ngIf="isOpenFilters">
</employee-table-filters>
<div [class.disabled-container]="isOpenModal" class="table-container">
    <table
        tuiTable
        *ngIf="data$ | async as data"
        [columns]="columns"
        [direction]="(employeeService.direction$ | async) || 1"
        [tuiSortBy]="employeeService.sorter$ | async"
        (tuiSortByChange)="employeeService.sorter$.next($event)"
        (directionChange)="employeeService.direction$.next($event)"
    >
        <thead>
        <tr tuiThGroup>
            <th
                *tuiHead="'checkbox'"
                [sorter]="null"
                tuiTh
                class="thead-checkbox"
            >
                <tui-checkbox [formControl]="onCheckedAll"></tui-checkbox>
            </th>
            <th
                *tuiHead="'fullName'"
                tuiTh
                tuiSortable
            >
                ФИО
            </th>
            <th
                *tuiHead="'birthday'"
                tuiTh
                tuiSortable
            >
                Дата рождения
            </th>
            <th
                *tuiHead="'jobTitle'"
                tuiTh
                tuiSortable
            >
                Должность
            </th>
            <th
                *tuiHead="'wage'"
                tuiTh
                tuiSortable
            >
                ЗП
            </th>
            <th
                *tuiHead="'employmentDate'"
                tuiTh
                tuiSortable
            >
                Трудоустройство
            </th>
            <th
                *tuiHead="'projectName'"
                tuiTh
                tuiSortable
            >
                Проект
            </th>
            <th
                *tuiHead="'success'"
                tuiTh
                tuiSortable
            >
                Успешность
            </th>
        </tr>
        </thead>

        <tbody
            *tuiLet="data | tuiTableSort as sortedEmployees"
            tuiTbody
            [data]="sortedEmployees"
        >
        <tr *ngFor="let item of sortedEmployees; let index = index" tuiTr>
            <td
                *tuiCell="'checkbox'"
                tuiTd
                class="tbody-checkbox"
            >
                <tui-checkbox [(ngModel)]="item.checked"></tui-checkbox>
            </td>
            <td
                *tuiCell="'fullName'"
                tuiTd
                (click)="navigateToDetailInfo(item.id)"
            >
                {{ index + 1 }}. {{ item.fullName }}
            </td>
            <td
                *tuiCell="'birthday'"
                tuiTd
                (click)="navigateToDetailInfo(item.id)"
            >
                {{ item.birthday }}
            </td>
            <td
                *tuiCell="'jobTitle'"
                tuiTd
                (click)="navigateToDetailInfo(item.id)"
            >
                {{ item.jobTitle }}
            </td>
            <td
                *tuiCell="'wage'"
                tuiTd
                (click)="navigateToDetailInfo(item.id)"
            >
                {{ item.wage }}
            </td>
            <td
                *tuiCell="'employmentDate'"
                tuiTd
                (click)="navigateToDetailInfo(item.id)"
            >
                {{ item.employmentDate }}
            </td>
            <td
                *tuiCell="'projectName'"
                tuiTd
                (click)="navigateToDetailInfo(item.id)"
            >
                {{ item.projectName }}
            </td>
            <td
                *tuiCell="'success'"
                tuiTd
                (click)="navigateToDetailInfo(item.id)"
            >
                {{ item.success }}
            </td>

        </tr>
        </tbody>
    </table>
</div>
