.table-container {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 17px 17px 0 0;
    min-height: calc(100vh - 102px);
}

table {
    width: 100%;
    color: #0c2425;
    border: none;
}

table * {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    word-break: break-all;
}

td {
    cursor: pointer;
}

th {
    border-top: none;
    color: #235759;
    font-size: 15px;
    font-weight: 600;
}

tr td {
    font-weight: 600;
}

tr th:first-child, tr td:first-child {
    border-left: none;
}

tr th:last-child, tr td:last-child {
    border-right: none;
}

table tr:last-child * {
    border-bottom: none;
}

.thead-checkbox * {
    border-bottom: none!important;
}

.disabled-container {
    pointer-events: none;
}

.tbody-checkbox, .thead-checkbox {
    width: 20px;
    height: 20px;
    padding: 12px!important;
    border-right: none!important;
}

.is-success {
    width: 26px;
    height: 26px;
    margin: 0 auto 0 auto;
}

.success {
    background: url("src/assets/img/success_icon.svg") no-repeat;
    background-size: 26px 26px;
}

.unsuccess {
    background: url("src/assets/img/unsuccess_icon.svg") no-repeat;
    background-size: 26px 26px;
}

tr td:last-child {
    /*width: auto;*/
    width: 140px;
}

/*td, th {*/
/*    text-align: center;*/
/*}*/
