<header>
    <a class="profile-icon"></a>
</header>
<div class="media">
    <form [formGroup]="employeeForm" class="b-form">
        <div class="basic-container">
            <img src="{{imgPath}}" alt="Фотография сотрудника" class="employee_photo" width="162" height="162">
            <div class="basic-information">
                <tui-input tuiTextfieldSize="l" formControlName="employeeName" class="name-field">
                    <input tuiTextfield type="text" id="name"/>
                </tui-input>
                <p *ngIf="age" class="age">{{age}} {{ageWord}}</p>
                <tui-input tuiTextfieldSize="m" formControlName="employeeJob" class="job-field">
                    <input tuiTextfield type="text" id="job"/>
                </tui-input>
                <div class="work-experience">
                    <p *ngIf="monthWorkExperience || yearWorkExperience">
                        Опыт работы в компании:
                    </p>
                    <p *ngIf="yearWorkExperience">
                        {{yearWorkExperience}} {{yearExperienceWord}}
                    </p>
                    <p *ngIf="monthWorkExperience">
                        {{monthWorkExperience}} {{monthExperienceWord}}
                    </p>
                </div>
            </div>
        </div>
        <div class="optional-fields">
            <div class="input-group">
                <label for="education">Образование:</label>
                <tui-input tuiTextfieldSize="s" formControlName="employeeEducation" class="education-field">
                    <input tuiTextfield type="text" id="education"/>
                </tui-input>
            </div>
            <div class="input-group">
                <label for="education">Дата рождения:</label>
                <tui-input-date formControlName="employeeBirth" tuiTextfieldSize="s">
                </tui-input-date>
            </div>
            <div class="input-group">
                <label for="education">Текущий проект:</label>
                <tui-input tuiTextfieldSize="s" formControlName="employeeProject" class="project-field">
                    <input tuiTextfield type="text" id="project"/>
                </tui-input>
            </div>
            <div class="input-group">
                <label for="education">Дата собеседования:</label>
                <tui-input-date formControlName="employeeInterviewDate" tuiTextfieldSize="s">
                </tui-input-date>
            </div>
            <div class="input-group">
                <label for="education">Дата трудоустройтсва:</label>
                <tui-input-date formControlName="employeeEmploymentDate" tuiTextfieldSize="s">
                </tui-input-date>
            </div>
            <div class="input-group">
                <label for="education">Первый рабочий день:</label>
                <tui-input-date formControlName="employeeFirstWorkDay" tuiTextfieldSize="s">
                </tui-input-date>
            </div>
        </div>
    </form>
</div>
