.footer-container {
    background-color: #FFFFFF;
    width: calc(100% - 40px);
    max-width: 1325px;
    position: fixed;
    height: 50px;
    top: calc(100vh - 50px);
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    background-color: #FFFFFF;
}
