body {
    background-color: #ADCACB;
    margin: 0;
    font-family: 'Inter', serif;
}

app-root {
    width: calc(100% - 40px);
    max-width: 1325px;
    margin: 0 auto 0 auto;
    display: block;
}

button:focus{
    outline: 0;
}
